body {
   
  background-image: url('https://thumbs.dreamstime.com/z/magasin-de-rue-caricature-clients-marchant-dans-un-avec-des-sacs-heureux-porteurs-d-achats-femme-jeunes-en-train-faire-mignonne-215130727.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
}